.dashboard h1 {
	color: #000000;
}

.equal-cards {
	display: flex;
	flex-wrap: wrap;
}

.equal-cards > .col {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	padding-right: 15px;
}

.equal-cards .card {
	flex: 1 1 auto;
	max-width: 600px;
	margin: 0 auto;
}
